In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv('archive/treino.csv')
test_data  = pd.read_csv('archive/teste.csv')

In [5]:
def shape(data):
    print(f'{data.shape[0]} linhas\n')
    print(f'{data.shape[1]} colunas\n')

In [11]:
print(f'Os dados de treino tem o shape de:' )
shape(train_data)
print('-'*10)

print(f'Os dados de teste tem o shape de:' )
shape(test_data)

Os dados de treino tem o shape de:
110000 linhas

11 colunas

----------
Os dados de teste tem o shape de:
40000 linhas

10 colunas

# Analystcs

In [13]:
train_data.head()

,inadimplente,util_linhas_inseguras,idade,vezes_passou_de_30_59_dias,razao_debito,salario_mensal,numero_linhas_crdto_aberto,numero_vezes_passou_90_dias,numero_emprestimos_imobiliarios,numero_de_vezes_que_passou_60_89_dias,numero_de_dependentes
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [15]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110000 entries, 0 to 109999
Data columns (total 11 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   inadimplente                           110000 non-null  int64
 1   util_linhas_inseguras                  110000 non-null  float64
 2   idade                                  110000 non-null  int64
 3   vezes_passou_de_30_59_dias             110000 non-null  int64
 4   razao_debito                           110000 non-null  float64
 5   salario_mensal                         88237 non-null   float64
 6   numero_linhas_crdto_aberto             110000 non-null  int64
 7   numero_vezes_passou_90_dias            110000 non-null  int64
 8   numero_emprestimos_imobiliarios        110000 non-null  int64
 9   numero_de_vezes_que_passou_60_89_dias  110000 non-null  int64
 10  numero_de_dependentes                  107122 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 9.2 MB

In [16]:
# Verificando os dados nulos
train_data.isna().sum()

inadimplente                                 0
util_linhas_inseguras                        0
idade                                        0
vezes_passou_de_30_59_dias                   0
razao_debito                                 0
salario_mensal                           21763
numero_linhas_crdto_aberto                   0
numero_vezes_passou_90_dias                  0
numero_emprestimos_imobiliarios              0
numero_de_vezes_que_passou_60_89_dias        0
numero_de_dependentes                     2878
dtype: int64

In [31]:
# Visualizando a quantidade de inadimplentes
print('A quantidade de inadimplente e de: ')
print(train_data['inadimplente'][train_data['inadimplente'] == 1].count(), '\n')

print('A quantidade de nao inadimplente e de: ')
print(train_data['inadimplente'][train_data['inadimplente'] == 0].count(), '\n')

A quantidade de inadimplente e de:
7331

A quantidade de nao inadimplente e de:
102669

In [34]:
# Agrupando os inadimplentes por idade
train_data.groupby('idade')['inadimplente'].count()

idade
0        1
21     142
22     324
23     469
24     616
      ...
102      3
103      2
105      1
107      1
109      1
Name: inadimplente, Length: 86, dtype: int64

In [38]:
train_data.columns

Index(['inadimplente', 'util_linhas_inseguras', 'idade',
       'vezes_passou_de_30_59_dias', 'razao_debito', 'salario_mensal',
       'numero_linhas_crdto_aberto', 'numero_vezes_passou_90_dias',
       'numero_emprestimos_imobiliarios',
       'numero_de_vezes_que_passou_60_89_dias', 'numero_de_dependentes'],
      dtype='object')

In [44]:
# Soma do salario mensal por idade
train_data.groupby('idade')['salario_mensal'].sum()

idade
0         6000.0
21      108079.0
22      310245.0
23      642245.0
24     1009266.0
         ...
102       6717.0
103       1601.0
105          0.0
107          0.0
109          0.0
Name: salario_mensal, Length: 86, dtype: float64

In [50]:
train_data.groupby('numero_de_dependentes')['inadimplente'].count()

numero_de_dependentes
0.0     63652
1.0     19416
2.0     14306
3.0      6898
4.0      2111
5.0       563
6.0       115
7.0        38
8.0        16
9.0         2
10.0        4
20.0        1
Name: inadimplente, dtype: int64

In [51]:
train_data.columns

Index(['inadimplente', 'util_linhas_inseguras', 'idade',
       'vezes_passou_de_30_59_dias', 'razao_debito', 'salario_mensal',
       'numero_linhas_crdto_aberto', 'numero_vezes_passou_90_dias',
       'numero_emprestimos_imobiliarios',
       'numero_de_vezes_que_passou_60_89_dias', 'numero_de_dependentes'],
      dtype='object')

In [53]:
features = ['util_linhas_inseguras', 'idade',
       'vezes_passou_de_30_59_dias', 'razao_debito', 'salario_mensal',
       'numero_linhas_crdto_aberto', 'numero_vezes_passou_90_dias',
       'numero_emprestimos_imobiliarios',
       'numero_de_vezes_que_passou_60_89_dias', 'numero_de_dependentes']

target = 'inadimplente'